.footer-social__maintext {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142857;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.foot-icon {
    background-color: rgba(255, 255, 255, 10%);
}

.f-icon {
    fill: $general;
}