.header {
    padding: 24px 0px 24px 0px;
    text-align: center;
}

.header-port {
    border-bottom: 1px solid $border;
}

.header>.contaner {
    align-items: center;
}

.nav {
    margin-left: 93px;
}

