.port-list {
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-bottom: 50px;
    gap: 8px;
}

.port-list__button {
    padding: 6px 22px 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: $section;
    color: $text;
    border-width: 0px;
    border-radius: 4px;
    transition: box-shadow $time-animation cubic-bezier(0.4, 0, 0.2, 1),
        color $time-animation cubic-bezier(0.4, 0, 0.2, 1),
        background-color $time-animation cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $logo-blu;
        color: $general;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
