.section1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $footer;
    background-size: cover;
    background-image:
        linear-gradient(0deg, rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)),
        url(../../image/hirox1px480.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        background-image:
            linear-gradient(0deg, rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)),
            url(../../image/hirox2px480.jpg);
    }
    background-position: center;
    background-repeat: no-repeat;
    color: $general;
    @media screen and (min-width:768px) {
        max-width: 768px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)),
                url(../../image/hirox1px768.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    linear-gradient(0deg, rgba(0, 0, 0, 0.2),
                        rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)),
                    url(../../image/hirox2px768.jpg);
            }
    }
    @media screen and (min-width:1200px) {
        height: 600px;
        max-width: 1600px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)),
                url(../../image/hirox1px1200.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    linear-gradient(0deg, rgba(0, 0, 0, 0.2),
                        rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)),
                    url(../../image/hirox2px1200.jpg);
            }
    }
}

.section1__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        font-weight: 900;
        font-size: 44px;
        line-height: 136%;
        letter-spacing: 0.06em;
    }
}

.section2 {
    // max-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section3 {
    display: none;
    padding-bottom: 60px;
    @media screen and (min-width:1200px) {
        display: block;  
    }
}

.main-text {
    margin: auto;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666667;
    text-align: center;
    letter-spacing: 0.03em;
}

.section4 {
    // max-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $section;
}

.section5 {
    
    padding-top: 60px;
    padding-bottom: 60px;
}

.section5>div {
    display: block;
}