.section4-list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.section4-list__content {
    max-width: 450px;
    background-color: $general;
    text-align: center;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 768px) {
       max-width: calc((738px - 30px) / 2);
    }
    @media screen and (min-width:1200px) {
        max-width: calc((1170px - 90px) / 4);
    }
}

.section4-list__blok {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section4-list__image {
    max-width: 450px;
    @media screen and (min-width: 768px) {
       max-width: calc((738px - 30px) / 2);
    }
    @media screen and (min-width:1200px) {
        max-width: calc((1170px - 90px) / 4);
    }
}

.section4-list__main-text {
    margin-bottom: 10px;
    font-weight: 500;

}

.section4-list__blok>p {
    font-weight: 400;
    color: $text-no-general;
}