body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: var(--general);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
    margin: 0%;
    padding: 0%;
}

svg {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}

label {
    margin: 0%;
    padding: 0%;
}