$general: #FFFFFF;
$border: #ECECEC;
$logo-blu: #2196F3;
$text: #212121;
$text-no-general: #757575;
$section: #F5F4FA;
$footer: #2F303A;
$foter-no-general: rgba(255, 255, 255, 0.6);
$icons: #AFB1B8;
$time-animation: 250ms;